*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
iframe,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
    --default-font: "Roboto", san-serif;
   
    --fw-700: 700;
    --fw-500: 500;
    --fw-400: 400;
    
    --fs-reg: 1rem;
    --fs-med: 1.5rem;
    --fs-large: 2rem;
}

body {
    max-width: 100%;
    height: auto;
    background-color: whitesmoke;
    color: black;
    display: grid;
    place-content: center;
    font-family: var(--default-font);
    font-size: var(--fs-reg);
    font-weight: var(--fw-400);
    text-align: center;
}

body > * {
    margin-bottom: 2em;
}

h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-700);
}

#scoreBoard {
    font-size: var(--fs-med);
    font-weight: var(--fw-400);
}
